/* Place CSS styles here */
body {
  background-color: #f5e7cf;
  text-align: center;
  margin:auto
}

h1 h2 h3 {
  color: #701500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  Size: 30px;
}

nav a {
  color: #8e220a;
  margin: 0 10px;
}